.loyalty {
  background-color: #f1f3f6;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.loyalty .wrapper {
  width: 50%;
  background-color: white;
  padding: 2rem;
  margin: 1rem;
  border-radius: 1rem;
  box-shadow: 0 0 2px 2px #0d0d0d09;
}
.loyalty .wrapper > h1 {
  margin: 0;
  padding: 0;
  padding-top: 4px;
}
.loyalty .btn-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.plus-deals {
  width: 100%;
  height: 75px;
  background-image: url("../raw/img12.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}
.plus-deals-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: nowrap;
}

.game {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
}

.game a{
  text-decoration: none;
  color:black;
}
.game .game-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  background-color: #fefefe;
  border-radius: 1rem;
  box-shadow: 0 0 3px 2px #0d0d0d20;
  padding: 0rem 0.5rem;
  cursor: pointer;
  transition: all 200ms;
}
.game .game-wrapper:hover {
  transform: scale(1.03);
}
.game .game-img {
  width: 30px;
  height: 30px;
  background-image: url("../raw/rainbow-spinning-wheel-png.webp");
  background-size: cover;
}

.game .game-img-scratch{
  width: 70px;
  height: 30px;
  background-image: url("../raw/pngegg.png");
  background-size: cover;
  background-position: center;
}